<div id="<%= dom_id quote %>">
  <p>
    <strong>Publication year:</strong>
    <%= quote.publication_year %>
  </p>

  <p>
    <strong>Quotecontent:</strong>
    <%= quote.quotecontent %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= quote.comment %>
  </p>

  <p>
    <strong>Ispublic:</strong>
    <%= quote.ispublic %>
  </p>

</div>
